.App {
  height: 100vh;
  display: grid;
  grid-template:
    "header         header" 70px
    "left-section   main-section" 1fr
    "footer         footer" 50px /
    300px           auto;
}

/* header section */

header {
  grid-area: header;
  display: grid;
  grid-auto-flow: column;
  background: -webkit-linear-gradient(top, #1b2d45, #1e242b);
  align-content: center;
}
.header-left {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  padding-left: 10px;
  gap: 30px;
  color: #c9cbd3;
}
.header-left h1{
  font-size: 1.8rem;
}
.header-font {
  font-size: 1.5rem;
}
.header-font:hover,
.header-left h1:hover {
  color: white;
  cursor: pointer;
  text-shadow: #c9cbd3 0px 0px 15px;
}
.user {
  display: grid;
  justify-content: end;
  color: white;
  padding-right: 10px;
}

/* left section */

.left-section {
  grid-area: left-section;
  background-color: #24292f;
  padding: 10px;
}
.left-section-top{
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  background-color: #1f2022;
  border-radius: 5px;
}
.left-section-top-top{
  display: grid;
  grid-auto-flow: column;
  place-items: center;
  padding: 5px;
}
.left-section-top input{
  all: unset;
  padding-left: 5px;
  color: white;
}
.left-section-top input::placeholder{
  font-size: 1.2rem;
}
.left-section-font{
  color: #7e7f81;
  font-size: 2rem;
}
.left-section-bottom-menu h2{
  color: white;
  padding: 5px;
  transform: translateY(-5px);
  -webkit-user-select: none;
}
.left-section-bottom-menu h2:hover{
  background-color: #3f4c6a;
  cursor: pointer;
}
#list1{
  -webkit-user-select: none;
}
#list2{
  -webkit-user-select: none;
}
.left-section-bottom-menu li{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  color: white;
  padding-left: 10px;
  font-size: 0.9rem;
  font-weight: bold;
}

.left-section-bottom-menu li:hover{
  background-color: #3f4c6a7e;
  cursor: pointer;
}
#list1 li p{
  color: orange;
}

/* main section */

.main-section {
  grid-area: main-section;
  background-color: #1f2b37;
}
.whats-new{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.whats-new h2{
  color: rgb(172, 169, 169);
  font-size: 1.5rem;
  font-family:'Arial Narrow', Arial, sans-serif;
}
.whats-new-arrows{
  display: grid;
  grid-template-columns: auto 1fr;
  color: #7e7f81;
}
.whats-new-arrows h1{
  -webkit-user-select: none;
}
.whats-new-arrows h1:hover{
  color: white;
  cursor: pointer;
}

.main-section-top{
  padding: 0px 10px;
}
.main-section-top-news-list{
  list-style: none;
}

.scroller{
    max-width: 1550px;
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
  
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior:  smooth;
    padding: 1rem 1rem;
}
.scroll-item {
  scroll-snap-align: center;
  cursor: pointer;
  padding: 10px;
}
.scroll-item h4{
  font-size: 0.9rem;
  font-family: sans-serif;
  color: #b0b2b8;
}
.scroll-item p{
  color: #888e9a;
  font-size: 1.1rem;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.scroll-item h3{
  color: white;
}
.scroll-item.selected {
  box-shadow: 0 0 0 4px grey;
}
.main-section-bottom-recent-games{
  padding: 10px;
}
.main-section-bottom-recent-games h2 {
  color: rgb(172, 169, 169);
  font-size: 1.5rem;
  font-family:'Arial Narrow', Arial, sans-serif;
}
.main-section-bottom-all-games-list{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 50px;
}
.main-section-bottom-all-games-item{
  transition: all 0.5s ease-in-out;
  padding-left: 20px;
}
.main-section-bottom-all-games-item:hover{
  transform: scale(1.1);
  
  cursor: pointer;
}
.main-section-bottom-all-games-item img:hover{
  box-shadow: white 0px 0px 15px;
}

/* footer section */

footer {
  padding: 20px;
  grid-area: footer;
  background-color: #292c31;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: #c5c8d1;
}
.font {
  font-size: 1.5rem;
  display: grid;
  align-content: center;
}
.footer-left {
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  gap: 10px;
}
.footer-left:hover,
.footer-mid p:hover,
.footer-right:hover {
  color: white;
  cursor: pointer;
}
.footer-right {
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  gap: 10px;
}
.footer-right-friends {
  display: grid;
}
